body{
	background-color: #232323;
	margin: 0;
	font-family: "Helvetica", "Avenir";
}

.square {
	width: 30%;
	margin: 1.66%;
	float: left;
	background: purple;
	padding-bottom: 30%;
	border-radius: 20px;
	transition: background-color .3s;
	-webkit-transition: background-color .3s;
	-moz-transition: background-color .3s;
}

.container {
	max-width: 600px;
	margin: 20px auto;
	height: calc(100vh - 360px);
}

h1{
	color: white;
	text-transform: uppercase;
	text-align: center;
	background: steelblue;
	margin: 0;
	font-weight: normal;
	padding: 20px 0;
}

button {
	border: none;
	color: steelblue;
	background-color: white;
	height: 100%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: inherit;
	outline: none;
}

button:hover {
	background-color: steelblue;
	color: white;
	transition: all .3s;
}

#message {
	display: inline-block;
	width: 20%;
	color: steelblue;
	font-size: inherit;
}

#reset {
	text-decoration: none;
}

#colorDisplay {
	font-size: 1.7em;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
	font-size: 12px;
}

.selected {
	background-color: steelblue;
	color: white;
}

footer {
/*	margin-top: 393px;*/
	width: 100%;
	text-align: center;
	background-color: lightgrey;
	color: #4f5051;
	display: inline-block;
}

footer a {
	color: #26539b;
	text-decoration: none;
}

footer a:hover {
	opacity: .7;
}


@media (min-width: 768px) {

	#stripe {
	font-size: 16px;
}

}


@media (min-width: 457px) {

	.container {
		height: calc(100vh - 297px);
	}

}
